@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.label-info-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem;
}

input[type="text"],
input[type="password"] {
  @apply border border-black px-1 rounded-sm;
}

button[type="submit"] {
  @apply inline-block bg-gray-100 text-xs font-semibold border border-black px-2 py-1 mt-4 rounded-sm hover:bg-gray-200 focus:bg-gray-300 focus:outline-none;
}
